h1 {
    color: red;
    background-color: black;
    font-size: 30pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.description,
.ingredients,
.steps {
    color: blue;
    font-size: 25pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.descrip,
.items,
.step {
    color: black;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 5px solid brown;
}